<h1 class="animated bounceInRight">CONTINUE THE STORI</h1>
<hr class="animated bounceInRight">

<% if flash[:notice] %>
  <div class="notice animated bounceInRight"><%= flash[:notice] %></div>
<% end %>
<p id="words" class="animated bounceInLeft"><span class="dots">... </span><%= @last_words %><span class="dots">...</span></p>

<%= form_for @story_post, :html => { :class => "animated bounceInRight" } do |f| %>
  <%= f.text_area :text, id: "input-area", maxlength: "140" %><br />
  <%= f.hidden_field "parent_id", value: @parent_id %>
  <div id="counter">140</div>
  <%= f.submit %>
<% end %>

<h1 id="finished-title" class="animated bounceInLeft">FINISHED STORIS</h1>
<div id="finished-list">
  <% @finished_threads.each_with_index do |finished_thread, i| %>
    <!-- here there be dragons -->
    <% animated_class = i.odd? ? "animated bounceInRight" : "animated bounceInLeft" %>
    <% delay = 1.2 + 0.2*i %>
    <% delay_css = "-webkit-animation-delay: #{delay}s; -moz-animation-delay: #{delay}s;" %>
    <%= link_to finished_thread.name, story_thread_path(finished_thread), class: animated_class, style: delay_css %>
  <% end %>
</div>
