<%= form_for(@story_thread) do |f| %>
  <% if @story_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_thread.errors.count, "error") %> prohibited this story_thread from being saved:</h2>

      <ul>
      <% @story_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
