<h1>Todays story</h1>

<p><%= @last_words %></p>

<%= form_for @story_post do |f| %>
  <%= f.label :text %>:
  <%= f.text_field :text %><br />

  <%= f.submit %>
<% end %>

<% @finished_threads.each do |finished_thread| %>
  <%= link_to finished_thread.name, story_thread_path(finished_thread) %>
<% end %>
