<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @story_thread.start %>
</p>

<p>
  <b>End:</b>
  <%= @story_thread.end %>
</p>

<p>
  <b>Name:</b>
  <%= @story_thread.name %>
</p>

<p>
<% @story_thread.story_posts.each do |story_post| %>
  <%= "#{story_post.text} " %>
<% end %>
</p>